Protocol upgrade from HTTP1.1 to h2c(HTTP2) is failing when the request contains payload body.

When client sends request to upgrade from http1.1 to http2 and the request contains the payload body, the server fails to upgrade to http2. (RFC 7540 section 3.2)
And observed the following error.
2020/09/17 12:11:10 http: response.Write on hijacked connection from fmt.Fprintf (print.go:205)

GO Versions
go version go1.15.2 linux/amd64

Steps to Reproduce
1)  Run the server.
2) Capture the packets using wireshark
3) send upgrade request from curl and include payload body
sudo curl -vs -o /dev/null --http2 --request GET --data '{"username":"xyz","password":"xyz"}' http://localhost:8090/hello

Expected behavior:
The HTTP2 upgrade should be successful and the server should send the response back to the client.

Code Snippets
`package main

import (
	"fmt"
	"net/http"

	"golang.org/x/net/http2"
	"golang.org/x/net/http2/h2c"
)

func main() {
	H2CUpgrade()
}

func H2CUpgrade() {
	h2s := &http2.Server{}
	handler := http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		fmt.Fprintf(w, "Hello, %v, http: %v", r.URL.Path, r.TLS == nil)
	})

	server := &http.Server{
		Addr:    "0.0.0.0:8090",
		Handler: h2c.NewHandler(handler, h2s),
	}
	fmt.Printf("Listening [0.0.0.0:8090]...\n")
	server.ListenAndServe()
}

`

Here is the Wireshark trace:

![image](https://user-images.githubusercontent.com/46817533/93430503-663f2b00-f8e0-11ea-83e5-1ba887f8e7ac.png)


Are you intentionally writing your own h2c server instead of using
net/http.Server (h2) - ?


Yes, we have a requirement where we need h2c (HTTP over non-TLS).

@elithrar do we have any solution or workaround for this.